# Data files
/data/

# Model files
/models/

# Logs
/logs/

# Temporary files
/tmp/

# Build files
/target/

# Ignore IDE and editor specific files
/.idea/
/.vscode/
/package-lock.json
/.lock
.aider*

# Secret files
.env
